.form {
  background-color: $background;
  background-image: url("../../assets//images//bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: 70% 70%;
  padding: 1.3rem;
  border-radius: 6px;
  margin-top: 3rem;

  input,
  button {
    display: block;
    width: 100%;
    padding: 1em;
    border-radius: 6px;
    border: none;
  }

  input {
    margin-bottom: 1rem;
    outline: none;

    &::placeholder {
      color: $color-secondary;
      opacity: 1;
    }
  }

  button {
    background-color: $background-highlighted;
    color: $color-highlighted;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $color-secondary;
    }
  }

  @media (min-width: $mobile-size) {
    background-image: url("../../assets/images/bg-shorten-desktop.svg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;

    input,
    button {
      display: inline-block;
      margin: 0;
    }

    input {
      width: 70%;
    }

    button {
      width: 20%;
    }
  }
}
