.footer {
  background-color: $footer-background;
  width: 100%;
  text-align: center;

  svg {
    fill: $color-highlighted;
    margin: 2rem 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      color: $color-highlighted;
      font-weight: bold;

      a {
        text-decoration: none;
        color: $color-secondary;
        font-weight: normal;
      }
    }

    .links {
      margin: 1.5rem 0;

      li {
        margin: 0.5rem 0;
      }
    }
  }

  @media (min-width: $mobile-size) {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 2rem;
    justify-items: center;
    align-items: baseline;

    .list {
      justify-self: normal;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.social {
  padding-top: 1rem;
  padding-bottom: 2rem;

  img {
    margin: 0 1rem;
  }
}
