.container {
  text-align: center;
  width: 100%;

  .description {
    width: 100%;
    padding: 1rem;

    .main-img {
      width: 100%;
    }

    .slogan {
      font-size: 2.5rem;
      line-height: 2.7rem;
    }

    .detail {
      color: $color-secondary;
      font-size: 1.2rem;
    }
  }

  @media (min-width: $mobile-size) {
    overflow: hidden;

    .description {
      max-width: $max-width;
      margin: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 49%;
        transform: translateX(120px);
      }

      div {
        max-width: 49%;
        text-align: left;
      }
    }
    @media (min-width: $mobile-size) {
    }
  }

  .button {
    background-color: $background-highlighted;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: $color-highlighted;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;

    &:hover {
      background-color: $color-secondary;
    }
  }

  .boost {
    background-color: $background;
    background-image: url("../assets/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    padding: 3.5rem 0;
    text-align: center;

    h2 {
      margin: 0;
      color: $color-highlighted;
    }

    @media (min-width: $mobile-size) {
      background-image: url("../assets/images/bg-boost-desktop.svg");
      background-size: 100%;
    }
  }
}
