$mobile-size: 715px;
$max-width: 1440px;

$color-primary: hsl(255, 11%, 22%);
$color-secondary: hsl(0, 0%, 75%);
$color-highlighted: white;
$background: hsl(257, 27%, 26%);
$background-highlighted: hsl(180, 66%, 49%);

$features-background: hsl(257, 7%, 63%);
$footer-background: hsl(260, 8%, 14%);
