@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
  color: $color-primary;
}

body {
  margin: 0;
}
